<div class="card main-card">
	<div class="card-header">
		<h2>Attendance List</h2>
	</div>

	<div class="card-body">

		<table class="table table-sm table-hover table-bordered mb-3 mt-3">
			<thead>
	      <tr>
	      	<th>Name</th>
	        <th>Date</th>
	        <th>Time In</th>
	        <th>Time Out</th>
	        <th>Work Hour</th>
	        <!-- <th>Action</th>         -->
	      </tr>
	    </thead>
	    <tbody>
	    	<% @attendances.each do |attendance| %>
	      <tr>
	        <td><%= attendance.fullname %></td>
	        <td><%= attendance.date.strftime('%d-%b-%Y')  %></td>
	        <td><%= attendance.timeIn.strftime('%H:%M') %></td>
	        <td><%= attendance.timeOut.strftime('%H:%M') %></td>
	        <td><%= attendance.workHour.strftime('%H:%M') %></td>
	        <!-- <td>
	        	<%#= link_to '<i class="icon-eye"></i>'.html_safe, checkinout_url(:id => attendance.id, :show => attendance.id), :class => 'btn btn-info' %>
	        	<%#= link_to '<i class="fa fa-edit"></i>'.html_safe, edit_checkinout_path(attendance), :class => 'btn btn-info' %>
	        	<%#= link_to '<i class="fa fa-close"></i>'.html_safe, attendance, method: :delete, data: { confirm: 'Are you sure do you want to delete?' }, :class => 'btn btn-danger' %>
	        </td> -->
	      </tr>
	      <% end %>
	    </tbody>
		</table>

		<div class="row justify-content-center">
			<%= will_paginate @attendances %>
		</div>

	</div>
</div>