<div class="card main-card">
	<div class="card-header">
		<h2>Attendance List</h2>
	</div>

	<div class="card-body">

		<table class="table table-sm table-hover table-bordered mb-3 mt-3">
			<thead>
	      <tr>
	      	<th>Employee No</th>
	        <th>Name</th>
	        <th>Late Amount</th>
	      </tr>
	    </thead>
	    <% @users.each do |user| %>
	    <tbody>
	      <tr>
	        <td><%= user.employee_no %></td>
	        <td><%= user.fullname  %></td>
	        <% 
		       	@late_reports = Checkinout.where(:user_id => user.id,
		       									date: @beginning_of_month..@end_of_month)
		       	@late_amount = 0
		       	first_late = DateTime.parse("08:31:00").strftime('%H:%M:%S')
		          second_late = DateTime.parse("09:00:00").strftime('%H:%M:%S')
		       	@late_reports.each do |late_report|
		          time_in = late_report.timeIn.strftime('%H:%M:%S')
		          if time_in.between?( first_late, second_late ) 
		            @late_amount += 1000
		          elsif time_in > second_late 
		            @late_amount += (@salary/20)/2 
		          end
		       	end
	    		%>
	    		<td><%= number_to_currency(@late_amount, unit: "MMK ", precision: 3)
 %></td>
	      </tr>
	    </tbody>
	    <% end %>
		</table>

		<div class="row justify-content-center">
			<%#= will_paginate @users %>
		</div>

	</div>
</div>