
<% content_for :heading do 'User Detail' end %>

<div class="card main-card">
	<div class="card-header">
		<h2>Employee List</h2>
	</div>

	<div class="card-body">

		<!-- <div class="row">
      <div class="col-md-12">
          <a href="/employees/new" class="btn btn-info pull-right"><i class="fa fa-plus"></i> Create New</a>
      </div>
  	</div>

	  <div class="row">
	    <div class="col-md-3 mb-3">
	      <label for="employee_no">Employee No</label>
	      <input type="number" class="form-control" id="employee_no" name="employee_no" value="">
	    </div>
	    <div class="col-md-3 mb-3">
	      <label for="emp_type">Employee Type</label>
	      <%#= collection_select(:name, :id, @roles, :id, :name, {:prompt=>true}, {:class=>'form-control custom-select'} ) %>
	    </div>
	    <div class="col-md-3 mb-3">
	      <label for="name">Name</label>
	      <input type="text" class="form-control" id="name" name="name" value="">
	    </div>
	    <div class="col-md-3 mb-3">
	    	<a id="search" class="btn btn-info pull-left mt-4 ml-4">
          <img src="/img/search.png" style="height:20px;">
      	</a>
	    	<a id="ClearFilter" class="btn btn-info pull-left mt-4 ml-4" href="employees">
          <img src="/img/clear-filter.png" style="height:20px;">
      	</a>
	    </div>
	  </div> -->

		<table class="table table-sm table-hover table-bordered mb-3 mt-3">
			<thead>
	      <tr>
	        <th>Employee No</th>
	        <th>Employee Type</th>
	        <th>Name</th>
	        <th>Contact Number</th>
	        <th>Email Address </th>
	        <th>Action</th>
	      </tr>
	    </thead>
	    <tbody>
	    	<% @employees.each do |employee| %>
	    	<% puts employee %>
	      <tr>
	        <td><%= employee.employee_no %></td>
	        <td>
	        	<% @role = Role.find_by_id(employee.role_id) %>
	         	<%= @role.name %>
	        </td>
	        <td><%= employee.fullname %></td>
	        <td><%= number_to_phone(employee.contact_number, country_code: 95) %></td>
	        <td><%= employee.email %></td>
	        <td>
	        	<%= link_to '<i class="icon-eye"></i>'.html_safe, employee_url(:id => employee.id, :show => employee.id), :class => 'btn btn-info' %>
	        	<%= link_to '<i class="fa fa-edit"></i>'.html_safe, edit_employee_path(employee, :edit => employee.id), :class => 'btn btn-info' %>
	        	<%= link_to '<i class="fa fa-close"></i>'.html_safe, employee, method: :delete, data: { confirm: 'Are you sure do you want to delete?' }, :class => 'btn btn-danger' %>
	        </td>
	      </tr>
	      <% end %>
	    </tbody>
		</table>

		<div class="row justify-content-center">
			<%= will_paginate @employees %>
		</div>

	</div>
</div>