
<div class="row">
    <div class="col-md-3">
    </div>
        <div class="col-md-4">
            <h1 align="center"><strong>MHS</strong> HRMS</h1>
                <div class="form-background">
                    <div class="head-info" style="text-align: center;">Please Log in</div>
                    <div class="login-form">
                        <%= form_for(:session, url: login_path) do |f| %>
                            <%= f.email_field :Email, class: 'form-input', placeholder: 'Enter Email' %>
                            <br>
                            <%= f.password_field :password, class: 'form-input', placeholder: 'Enter Password' %>
                          <%= button_tag( :class => "login-button") do %>
                            Sign In  <i class="icon-login"></i>
                          <% end %>
                          <div class="error-msg">
                          <% flash.each do |name, msg| -%>
                            <%= content_tag :div, msg, class: name, style: 'color:red;' %>
                          <% end -%> 
                          </div>
                        <% end %>
                        
                    </div>
                </div>
        </div>
    <div class="col-md-5">
    </div>
</div>
