<p id="notice"><%= notice %></p>

<p>
  <strong>Fullname:</strong>
  <%= @user.Fullname %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.Email %>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
