<section class="content">
    <div class="card main-card">
        <div class="card-header">
            <div class="row">
                <h5>Leave History</h5>
            </div>
        </div>
        <div class="card-body table-responsive" id="divLeaveHistory">
            <table id="tblLeaveHistory" class="table table-md table-hover table-bordered mb-3 mt-3">
                <thead>
                    <tr>
                        <th>Employee No</th>
                        <th>Name</th>
                        <th>Leave Type</th>
                        <th>Number of Leaves</th>
                        <th>From Date</th>
                        <th>To Date</th>
                        <th>Reason</th>
                        <th>Attachment</th>
                    </tr>
                </thead>
                <tbody>
                <% @leaves.each do |lh| %>
                    <tr>
                        <td><%= lh.id %></td>
                        <td><%= lh.user.fullname %></td>
                        <td><%= lh.leave_type.name %></td>
                        <td><%= lh.numberofday %></td>
                        <td><%= lh.start_date.strftime('%d %b %Y') %></td>
                        <td><%= lh.end_date.strftime('%d %b %Y') %></td>
                        <td><%= lh.reason %></td>
                        <% if lh.attachment.url %>
                            <td><%= image_tag lh.attachment.url, :class => "img", :size => '50x50'  %></td>
                            <% else %>
                            <td>-------</td>
                        <% end %>
                    </tr>
                <% end %>
                </tbody>
            </table>
        </div> 
        <div class="row justify-content-center">
            <%= will_paginate @leaves %>
        </div>
    </div>
</section>
<script type="text/javascript">
    $(function () {
      $('[data-toggle="tooltip"]').tooltip()
    })
</script