<section class="content">    
     <div class="card main-card">
          <div class="card-header">
               <div class="pull-left">
                    <h5>Leave Report</h5>
               </div>
          </div>
          <div class="card-body">  
              
                    <table id="tblLeaveHistory" class="table table-sm table-hover table-bordered mb-3 mt-3">
                    <thead>
                         <tr>
                              <th>Employee NO</th>
                              <th>Name</th>
                              <th>Availabe Leave</th>
                              <th>Leave Balance</th>
                         </tr>
                    </thead>
                    <tbody>
                         <% @leave_balance.each do |balance| %>
                         <tr>
                              <td><%= balance['employee_no'] %></td>
                              <td><%= balance['fullname'] %></td>
                              <td><%= balance['Available_annual_leave'] %></td>
                              <td><%= balance['leave_balance'] %></td>
                         </tr>    
                         <% end %>
                    </tbody>
                    </table>
               
          </div>
          <div class="card-footer  table-responsive" id="divLeaveHistory">
               
          </div> 
     </div>
</section>
