<section class="content">    
    <%= form_for(:leave_apply, local: true , :html => {multipart: true}) do |form| %>
        <div class="card main-card">
            <div class="card-header">
                <div class="pull-left">
                    <h5 >Leave Request</h5>
                </div>
                <div class="pull-right">
                    <!-- <button class="btn btn-primary" id="file" disabled="disabled"><i class="icon icon-paper-clip"></i> Attachment</button> -->
                
                    <%= form.file_field :attachment, :id => "file", :disabled => "disabled" , :class => "upload-button" %>
                </div>
            </div>
            <div class="card-body">
                    <div class="row">
                            <div class="col-3"></div>
                            <div class="col-6">
                                <div class="row">
                                    <div class="col-4" style="text-align:right; padding-top: 5px;">
                                        <label for="employee_name">Name</label>
                                    </div>
                                    <div class="col-md-8 mb-4">
                                        <%= form.select :user_id, User.all.collect {|p| [ p.fullname, p.id] }, { :include_blank => "Select" }, :class =>
                                        "form-control custom-select" %>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-4" style="text-align:right; padding-top: 5px;">
                                        <label for="leave_type">Leave Type</label>
                                    </div>
                                    <div class="col-md-8 mb-4">
                                        <%= form.select :leave_type_id, LeaveType.all.collect {|p| [p.name, p.id] }, { :include_blank => "Select" }, :class =>
                                        "form-control custom-select", :id => "leave-type" %>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-4" style="text-align:right; padding-top: 5px;">
                                        <label for="start_date">Start Date</label>
                                    </div>
                                    <div class="col-md-8 mb-4">
                                        <%= form.text_field :start_date, :id => 'start_date', :class => "form-control datepicker", :value => Date.today().strftime("%d %b %Y") %>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-4" style="text-align:right; padding-top: 5px;">
                                        <label for="end_date">End Date</label>
                                    </div>
                                    <div class="col-md-8 mb-4">
                                        <%= form.text_field :end_date, :id => 'end_date', :class => "form-control datepicker", :value => Date.today().strftime("%d %b %Y") %>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-4" style="text-align:right; padding-top: 5px;">
                                        <label for="number_of_days">Number of days</label>
                                    </div>
                                    <div class="col-md-8 mb-4">
                                   
                                        <%= form.text_field :numberofday, :id => 'days', :class => 'form-control', :readonly => true %>
                                        <%#= f.text_field, :bullets, :class => 'text_field', :disabled => true %>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-4" style="text-align:right; padding-top: 5px;">
                                        <label for="relieving">Relieving</label>
                                    </div>
                                    <div class="col-md-8 mb-4">
                                        <%= form.select :relieving, User.all.collect {|p| [p.fullname, p.id]}, {:include_blank => "Choose Name"}, :class => "form-control" %>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-4" style="text-align:right; padding-top: 5px;">
                                        <label for="reason">Reason</label>
                                    </div>
                                    <div class="col-md-8 mb-4">
                                        <%= form.text_area :reason, :class => "form-control" %>
                                    </div>
                                </div>
                            </div>

                            <div class="col-3"></div>
                    </div>
            </div>
            <div class="card-footer">
                <div class="pull-left">
                    <%= link_to "Cancel", leave_report_path, class: 'btn btn-secondary' %>
                </div>
                <div class="pull-right">
                    <%= button_tag( :class => "btn btn-primary") do %>
                        <i class="fa fa-floppy-o"></i> Submit 
                    <% end %>
                </div>
            </div>
        </div>
    <% end %>
</section>
    <script type="text/javascript">
        $(document).ready(function(){

// --------------  enable/disable button behaviour upon select box value

            $("#leave-type").change( function(){
                var leavetype = $(this).children("option:selected").val();
                if(leavetype === '1'){
                    $("#file").removeAttr('disabled');
                }
            else {
                $("#file").prop('disabled', true);
            }
               
            } );

//--------------- calculation day difference between two dates

            $('.datepicker').datepicker({format: 'dd-M-yyyy'});
            $( "#start_date,#end_date" ).datepicker({
                changeMonth: true,
                changeYear: true,
                firstDay: 1,
                dateFormat: 'dd/mm/yy',
            })

            $( "#start_date" ).datepicker({ dateFormat: 'dd-mm-yy' });
            $( "#end_date" ).datepicker({ dateFormat: 'dd-mm-yy' });

            $('#end_date').change(function() {
                var start = $('#start_date').datepicker('getDate');
                var end   = $('#end_date').datepicker('getDate');
            
                var final = new Date(end-start);

                
                var days   = final/1000/60/60/24;
                $('#days').val(days+1);
            
            }); //end change function
            }); 
    </script>