// Custom bootstrap variables must be set or imported *before* bootstrap.
@import 'bootstrap.min.css';
@import 'coreui-icons.min.css';
@import 'coreui.min.css';
@import 'flag-icon.min.css';
@import 'font-awesome.min.css';
@import 'simple-line-icons.css';
@import 'pace.min.css';
@import 'style.css';
@import 'bootstrap-datepicker';

/* Start of Employee */
.breadcrumb-link{
  color: #70a1ff;

}

.error {
    color: red
}

.table {
	margin-bottom: 20px;
  margin-top: 20px;
}

.main-card {
	margin: 20px;
}

.file-image {
	width: 20px;
}

.visually-hidden {
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
}

input.visually-hidden:focus + label {
  outline: thin dotted;
}

.highlight { background-color: #c1d4e7 !important; }

/* End of Employee */


/* Login Form css */

.form-background{
  width: 100%;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: whitesmoke;
  border-radius: 10px;
  z-index: 5;
}

#login-form {
  width: 100%;
  height: auto;
  align-items: center;
}

.form-input{
  width: 80%;
  height: 35px;
  align-items: center;
  margin-top: 10px;
  margin-left: 33px;
  padding-left: 10px;
  border: 1px solid #c8d6e5;
  border-radius: 5px;
  &:focus,&:hover {
    border: 1px solid #1B9CFC;
    box-shadow: 0px 2px 1px #1B9CFC;
    outline: none;
  }

}

.login-button {
  margin-top: 10px;
  margin-left:33px;
  width: 100px;
  height: 35px;
  background-color: #1B9CFC;
  border: 1px solid #1B9CFC;
  color: white;
  border-radius: 5px;
  &:hover {
    background-color: #1e90ff;
    cursor: pointer;
  }
}

.error-msg {
 padding-top: 10px;
 padding-left: 33px;
}


/* Apply Leave form */
#file {
  width: 150px;
  height: 30px;
}