#form-row{
    background-color: blue;
    z-index: 4;
}
.content {
    width: 100%;
    height: 100%;
    background-color: #1e90ff;
    z-index: 4;
  }
  
  .form-background{
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: whitesmoke;
    border-radius: 10px;
    z-index: 5;
  }
  
  #login-form {
    width: 100%;
    height: auto;
    align-items: center;
  }
  
  .form-input{
    width: 80%;
    height: 35px;
    align-items: center;
    margin-top: 10px;
    margin-left: 33px;
    padding-left: 10px;
    border: 1px solid #dfe6e9;
    border-radius: 5px;
  }
  
  .login-button {
    margin-left:33px;
    width: 100px;
    height: 35px;
    background-color: #70a1ff;
    border: 1px solid #70a1ff;
    color: white;
    border-radius: 5px;
    &:hover {
      background-color: #1e90ff;
      cursor: pointer;
    }
  }