<div class="sidebar">
  <nav class="sidebar-nav">
    <ul class="nav">
      <li class="nav-item">
        <a class="nav-link" href="#">
          <i class="nav-icon icon-speedometer"></i> Dashboard
        </a>
      </li>
     <li class="nav-item nav-dropdown <%= 'open' if params[:controller]=='employees' %>">
        <a class="nav-link nav-dropdown-toggle" href="#">
          <i class="nav-icon icon-user"></i> Employee
        </a>
        <ul class="nav-dropdown-items">
          <li class="nav-item">
            <a class="nav-link pl-4 <%= 'active' if current_page?(new_employee_path) %>" href="/employees/new">
              <i class="nav-icon icon-user-follow"></i> Registration
            </a>
          </li>
          <li class="nav-item ">
            <a class="nav-link pl-4 <%= 'active' if current_page?(employees_path) %>" href="/employees">
              <i class="nav-icon icon-people"></i> List
            </a>
          </li>
        </ul>
      </li>
      <li class="nav-item nav-dropdown <%= 'open' if params[:controller]=='checkinouts' %>">
        <a class="nav-link nav-dropdown-toggle" href="#">
          <i class="nav-icon icon-clock"></i> Late Management
        </a>
        <ul class="nav-dropdown-items">
          <li class="nav-item ">
            <a class="nav-link pl-4 <%= 'active' if current_page?(checkinouts_path) %>" href="/checkinouts">
              <i class="nav-icon icon-list"></i>Late Arrival List
            </a>
          </li>
          <li class="nav-item ">
            <a class="nav-link pl-4 <%= 'active' if current_page?(lates_path) %>" href="/lates">
              <i class="nav-icon icon-docs"></i>Late Arrival Report
            </a>
          </li>      
        </ul>
      </li>

      <li class="nav-item nav-dropdown <%= 'open' if params[:controller]=='leaves' %>">
        <a class="nav-link nav-dropdown-toggle" href="#">
          <i class="nav-icon icon-chart"></i> Leave Management
        </a>
        <ul class="nav-dropdown-items">
          <li class="nav-item ">
            <a class="nav-link <%= 'active' if current_page?(new_leafe_path) %>" href="/leaves/new">
              <i class="nav-icon icon-bell"></i> Apply Leave
            </a>
          </li>
          <li class="nav-item ">
            <a class="nav-link <%= 'active' if current_page?(leaves_path) %>" href="/leaves">
              <i class="nav-icon icon-book-open"></i> My Leave History
            </a>
          </li>
           <li class="nav-item">
            <a class="nav-link <%= 'active' if current_page?(leave_report_path) %>" href="/leave_report">
              <i class="nav-icon icon-docs"></i> Leave Report
            </a>
          </li>
        </ul>
      </li>
     
    </ul>
  </nav>
    <button class="sidebar-minimizer brand-minimizer" type="button"></button>
</div>

<script type="text/javascript">

</script>