<!DOCTYPE html>
<html lang="en">
  <head>
    <base href="./">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <meta name="description" content="CoreUI - Open Source Bootstrap Admin Template">
    <meta name="author" content="Łukasz Holeczek">
    <meta name="keyword" content="Bootstrap,Admin,Template,Open,Source,jQuery,CSS,HTML,RWD,Dashboard">
    <title>HR Management System</title>
    <!-- Icons-->
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <!-- CoreUI CSS -->
    <%= javascript_include_tag 'application', 'data-turbolinks-track'=> true %>

    <script>
      window.dataLayer = window.dataLayer || [];

      function gtag() {
        dataLayer.push(arguments);
      }
      gtag('js', new Date());
      // Shared ID
      gtag('config', 'UA-118965717-3');
      // Bootstrap ID
      gtag('config', 'UA-118965717-5');
    </script>
  </head>
  <body class="app header-fixed sidebar-fixed aside-menu-fixed sidebar-lg-show">
    <%= render 'layouts/header' unless current_page?(login_path) %>
    
     <div class="app-body">
				<%= render 'layouts/sidebar' unless current_page?(login_path) %>
        <main class="main">
        <%= render 'layouts/breadcrumb' unless current_page?(login_path) %>
					<%= yield %>
				</main>
     </div>
    <%= render 'layouts/footer' unless current_page?(login_path) %>
    
   
  </body>
</html>
